*.csv
user_data/plot/*
user_data/logs/*
user_data/hyperopts/*
user_data/hyperopt_results/*
user_data/dataframe_files/*
user_data/backtest_results/*
user_data/backup/*
user_data/data/*
user_data/notebooks/*
user_data/models/*
#user_data/config.json
user_data/hyperopt.lock
user_data/tradesv3.sqlite-shm
user_data/tradesv3.sqlite-wal
idea/*
#backtest_result.txt
#best_param.json
#best2.txt
#download.bat
#download.sh
#download.txt
#lists.txt
#note
#trade.txt